header {
  a:hover,
  span.nav-link:hover {
    text-shadow: 0 0 2px brown;
    transition: text-shadow 0.4s ease-in-out;
    text-decoration: none;
    cursor: pointer;
  }
}

.navbar {
  margin-bottom: 5px;
}

.navbar-end svg:hover {
  fill: brown;
}

.dropdown-menu {
  display: block;
  transition: opacity 0.4s ease-in-out;
  min-width: 38em;
  top: 90%;
  position: absolute;
  transform: translateX(-33%);
  a {
    text-decoration: none;
    color: black;
  }
}

.navbar-nav {
  padding: 0.8em 0em;
  .nav-link {
    font-size: 0.9em;
    color: black !important;
  }
  .nav-item .nav-link {
    padding: 0 1.3em;
    font-size: 20px;
  }
  ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
  }
}

.navbar-end {
  position: relative;
  top: 1rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .navbar {
    margin-bottom: calc(2rem + 5px);
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar-start {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .navbar-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    div.position-relative {
      top: 0 !important;
    }
  }
  .navbar-collapse {
    align-self: center;
    text-align: center;
  }
  .dropdown-menu {
    transform: translateX(0);
    min-width: 33em;
    position: relative;
  }
}

// @media (min-width: 360px) {
//   .dropdown-menu {
//     width: 7em;
//     left: 35vw !important;
//     top: -25% !important;
//     position: absolute !important;
//   }
// }

// @media (min-width: 383px) {
//   .dropdown-menu {
//     width: 10em;
//     left: 33vw !important;
//     top: -25% !important;
//     position: absolute !important;
//   }
// }
// @media (min-width: 576px) {
//   .dropdown-menu {
//     min-width: 23em;
//     left: 26% !important;
//     top: -25% !important;
//     position: absolute !important;
//   }
// }

// @media (min-width: 768px) {
//   .dropdown-menu {
//     min-width: 33em;
//     left: 19% !important;
//     top: 0% !important;
//     position: absolute !important;
//   }
// }

// @media (min-width: 992px) {
//   .dropdown-menu {
//     min-width: 33em;
//     left: 14% !important;
//     top: 0% !important;
//     position: absolute !important;
//   }
// }
